# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Reds pdf
reds_trainee_take_home_assessment_2025.pdf


data/raw/data.csv



